Bin/
BinD/
Debug
Release
ipch
*~
*.opensdf
*.opendb
*.sdf
*.suo
*.vcxproj.user
*.nvuser
*.swp
*.VC.db
Site/Source/.cabal-sandbox/
Site/Source/cabal.sandbox.config
Site/Source/_cache
Site/Source/_site
Site/Source/dist
Site/gh-pages
Site/Source/upx.exe
